<h1>Nueva Tarea</h1>
<form [formGroup]="formTarea" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="email">Tarea</label>
      <input type="text" class="form-control" id="tarea"  formControlName="tarea" >
    </div>
    <div class="form-group">
            <label for="email">Fecha</label>
            <input type="date" class="form-control" id="fecha"  formControlName="fecha" >
          </div>
          {{erroText}}
          {{okText}}
          <button type="submit">Submit</button>
</form>