<h1>Listado de tareas</h1>
<p *ngIf="datosCargados">Los datos  fueron cargados con exito</p>
<div>
    <ul>
        <li *ngFor="let tarea of tareas">
                <div>
                        {{tarea[1]}} {{tarea[2]}}
                        <button (click)="eliminarItem(tarea[0])"> Eliminar </button>
                </div>
        </li>
    </ul>
</div>