<app-header></app-header>
<main role="main">
    <div class="album py-5 bg-light">
        <div class="container">
                <a [routerLink]="['/']">Listado</a> - <a [routerLink]="['/tareas/nueva']">Nueva tarea</a>
            <router-outlet></router-outlet>
        </div>
    </div>
</main>
<app-footer></app-footer>